# External duplication of gitignore
# Each of 'day'-s is a separated project

# Environment variables
api/.env
api/.env.local
api/config.env

client/.env
client/.env.local
client/config.env

client/.next

# Dependencies
/node_modules

api/node_modules
client/node_modules


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
